In [1]:
import pandas as pd
import datetime as dt
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import sqlite3
import psycopg2

## Create Tornado table

In [2]:
tornadoes = "1950-2018_all_tornadoes.csv"

In [3]:
#read data

tornadoes_report = pd.read_csv(tornadoes, delimiter=",")

In [4]:
#Rename columns
tornadoes_report = tornadoes_report.rename(columns={"om":"Tornado ID","date":"Date","time":"Time","tz":"Time Zone",
                                                  "st": "State", "mag":"Magnitude fscale", "inj":"Injuries","fat":"Fatalities",
                                                 "loss": "Est. Property Loss", "slat":"Starting Latitude","slon":"Starting Longitude",
                                                 "elat":"Ending Latitude", "elon":"Ending Longitude", "len": "Length in miles", "wid":"Width in yards"
                                                  })

In [5]:
#Create DF
tornado_df = pd.DataFrame(tornadoes_report[["Tornado ID","yr","mo","dy","Date","State","Magnitude fscale","Injuries",
                                          "Fatalities", "Est. Property Loss", "Starting Latitude", "Starting Longitude",
                                          "Ending Latitude", "Ending Longitude", "Length in miles", "Width in yards"]])

tornado_df.head()

,Tornado ID,yr,mo,dy,Date,State,Magnitude fscale,Injuries,Fatalities,Est. Property Loss,Starting Latitude,Starting Longitude,Ending Latitude,Ending Longitude,Length in miles,Width in yards
0,1,1950,1,3,1950-01-03,MO,3,3,0,6.0,38.77,-90.22,38.83,-90.03,9.5,150
1,1,1950,1,3,1950-01-03,MO,3,3,0,6.0,38.77,-90.22,38.82,-90.12,6.2,150
2,1,1950,1,3,1950-01-03,IL,3,0,0,5.0,38.82,-90.12,38.83,-90.03,3.3,100
3,2,1950,1,3,1950-01-03,IL,3,3,0,5.0,39.10,-89.30,39.12,-89.23,3.6,130
4,3,1950,1,3,1950-01-03,OH,1,1,0,4.0,40.88,-84.58,0.00,0.00,0.1,10

In [21]:
engine = sqlalchemy.create_engine("postgresql://postgres:YOURPASSWORD@localhost/Tornadoes_USA")
conn = engine.connect()

In [7]:
table_name = 'tornadoes'
tornado_df.to_sql(table_name, conn, index=False, if_exists='replace')

In [9]:
engine.execute('ALTER TABLE tornadoes ALTER COLUMN "Date" TYPE Date USING "Date"::date')

## Create Mobile Home table

In [22]:
mobile_homes = "Mobile_Home_Parks.csv"

In [23]:
#read data

mobile_data = pd.read_csv(mobile_homes, delimiter=",")

In [24]:
#Create DF
mobile_df = pd.DataFrame(mobile_data[["OBJECTID","NAME","ADDRESS","CITY","STATE","ZIP",
                                      "TYPE","STATUS","COUNTY","LATITUDE","LONGITUDE",
                                      "NAICS_DESC","VAL_DATE","UNITS","SIZE"]])


mobile_df.head()

,OBJECTID,NAME,ADDRESS,CITY,STATE,ZIP,TYPE,STATUS,COUNTY,LATITUDE,LONGITUDE,NAICS_DESC,VAL_DATE,UNITS,SIZE
0,1,HARDIE'S MOBILE HOME PARK,1 ALLEN DRIVE,FORT WALTON BEACH,FL,32547,MOBILE HOME PARK,OPEN,OKALOOSA,30.441261,-86.624066,RESIDENTIAL TRAILER PARKS,11/10/2015,12,SMALL
1,2,CRESTVIEW RV PARK,4050 FERDON BOULEVARD,CRESTVIEW,FL,32536,RECREATIONAL VEHICLE PARK,CLOSED,OKALOOSA,30.719016,-86.571622,RECREATIONAL VEHICLE PARKS,6/8/2018,-999,SMALL
2,3,HOMESTEAD TRAILER PARK,304 REEVES STREET,NICEVILLE,FL,32578,MOBILE HOME PARK,OPEN,OKALOOSA,30.511577,-86.462842,RESIDENTIAL TRAILER PARKS,11/10/2015,112,MEDIUM
3,4,HOUSTON PARK MOBILE HOME PARK,239 CARMEL DRIVE,FORT WALTON BEACH,FL,32547,MOBILE HOME PARK,OPEN,OKALOOSA,30.442420,-86.647331,RESIDENTIAL TRAILER PARKS,11/10/2015,6,SMALL
4,5,HUDSON MOBILE HOME PARK,826 MAYO TRAIL,CRESTVIEW,FL,32536,MOBILE HOME PARK,OPEN,OKALOOSA,30.762918,-86.592889,RESIDENTIAL TRAILER PARKS,6/11/2018,-999,SMALL

In [25]:
table_name = 'mobile_homes'
mobile_df.to_sql(table_name, conn, index=False, if_exists='replace')

In [26]:
engine.execute('ALTER TABLE mobile_homes ALTER COLUMN "VAL_DATE" TYPE Date USING "VAL_DATE"::date')